.sensor-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5dc;
    color: #333;
    min-height: 100vh;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.sensor-header {
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
}

.title {
    font-size: 2em;
    font-weight: bold;
    color: #014421;
}

.sensor-info {
    margin-top: 20px;
}

.sensor-reading {
    font-size: 1.2em;
    margin: 10px 0;
}

.sensor-reading.unavailable {
    color: #b71c1c;
}

.daytime-status {
    margin-top: 20px;
    font-size: 1.1em;
}

.daytime-image {
    width: 200px;
    margin-top: 10px;
}

.sensor-footer {
    margin-top: 20px;
}

.lux-meter {
    width: 100%;
    height: 30px;
}

/* Media query for phones */
@media (max-width: 600px) {
    .sensor-app {
        padding: 10px;
        margin-right: 0;
    }

    .sensor-header {
        padding: 50px;
        width: 100%;
    }

    .title {
        font-size: 1.5em;
    }

    .sensor-reading {
        font-size: 1em;
    }

    .daytime-status {
        font-size: 1em;
    }

    .daytime-image {
        width: 100%;
    }
}